@require './vendor/material-icons.styl'
@require './vendor/vuetify.styl'
@require './colors.styl'

.card.delfin {
  background-color: $color_sea;

}
.btn.delfin {
  background-color: $color_orange !important
}

.picker--date table .btn:disabled .btn__content {
  color: red !important
}

