.ticket
    font-size: 13px
    position: relative
    padding: 10px 0
    background: #ffffff
    margin: 0px 0

    color: #000000

    //&:before
    //    content: ''
    //    display: block
    //    border-top: 1px solid $rose-avia-border
    //    width: calc(100% + 40px)
    //    position: absolute
    //    left: -20px
    //    top: 0px
    //
    //&:after
    //    content: ''
    //    display: block
    //    clear: both
    //
    //&:last-of-type
    //    border: 0
    //
    &__header
        //padding 10px 0
        border-top 1px solid $color_border
        border-bottom 1px solid $color_border
        position: relative
    //
    //
    //&__header-info
    //    display: inline-block
    //    width: 20%
    //    text-align: left
    //    vertical-align: top
    //    padding 5px 0
    //    position: absolute
    //    box-sizing: border-box
    //    right 70px
    //    top: 0
    //
    &__wrapper
        position relative
        padding 20px 0
    //
    &__info
        display: inline-block
        width: 20%
        height: 100%
        text-align: right
        vertical-align: top
        padding 20px 0
        position: absolute
        box-sizing: border-box
        right 70px
        top: 0

    &__content
        display: inline-block
        width: 80%
        position: relative
        vertical-align: top

    &__toggle
        position: absolute
        right: 10px
        top: 0
        width: 22px
        height: 100%
        background: #f2f3f4
        cursor: pointer

    &__header-price
        text-align: right;
        padding-right: 90px;

    &__price
        font-size: 24px
        line-height: 1em
        font-weight: 100
    &__persons-big
        font: 300 20px "Open Sans", sans-serif;
        color: $color_orange
        display block

    &__action
        margin-top: 7px
        font-size: 18px
        font-weight: 600


    &__hidden
        display: none

    &_opened
        background $color_lightgray
        margin 0px -20px
        padding 10px 20px

    &_opened &__hidden
        display: block

    &_opened &__hide
        display: none

    ////&_opened &__toggle
    ////    right 30px
    //
    //&_opened &__info
    //    width: 100%;
    //    text-align: right;
    //    padding-right: 70px;
    //    border-top: 1px solid $rose-avia-border;
    //    position relative
    //    right 0
    //
    //&_small
    //&_main
    //    //background: none
    //    //padding: 0
    //    //margin: 0
    //
    //    &:before
    //        display: none
    //
    //&_small &__info
    //    display: block
    //    width: auto
    //    height: auto
    //    position: static
    //    background: none
    //    text-align: left
    //    padding: 10px 0
    //    border: 0
    //
    //&_small &__price
    //    line-height: 1em
    //
    //&_small &__price
    //&_small &__persons
    //    display: inline-block
    //
    //&_small &__persons
    //    margin-left: 5px
    //
    //&_small &__content
    //    width: auto
    //    display: block
    //    margin: 0
    //
    //&_small &__icons
    //    padding: 10px 0
    //
    //&_small &__toggle
    //    display: none
    //
    //&_selected
    //    background: $rose-light-gray
    //    padding: 10px 20px;
    //    margin: 0px -20px;
    //    &:before
    //        width 100%
    //        left 0
    //
    //&_selected &__action
    //    display: none
    //
    //.link_view_action
    //    color: $rose_red
    //    font: 700 15px $font-headers;
    //
    //.link_view_main
    //    color: $rose_red
    //    font: 700 13px $font-headers;
    //    margin-top: 8px
    //    display: inline-block




